.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9EB8D9;
    padding: 7px;
    width: 100%;
    margin-top: -7px;
    margin-left: -7px;
    box-shadow: 0 4px 8px rgba(101, 88, 88, 0.3);
    font-family: 'Courier New', Courier, monospace;
    z-index: 1000; 
   
}
.name{
    color: white;
}
.navC{
    cursor:pointer;
}
.navC:hover{
    color: white;
}